html, body {
  margin: 0;
  padding: 0;
  background:#B08c77;
	color:#000000;
}
section {
  margin: 20px auto;
  width: 90%;
  min-height: 400px;
  padding:0.75rem 1.5rem;
  background-color: #977254;
  max-width: 2500px;
}
.txtWrapper {
  margin: 0 auto;
  width: 40%;
  max-width: 1800px;
  text-align: center;
}
.intro h1 {
  font-size: 3rem;
}
.intro p,
.btn {
  font-size: 1.5rem;
}
.numBtns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
button:-moz-focus-inner,
button:focus,
button:focus-within,
:focus {
  outline: none !important;
  border: none;
}
.btn {
  background-color: #6B2504;
  color: #eee;
  padding: 4px 0;
  transition: all linear 0.1s;
  border: solid 2px transparent !important;
  outline: none !important;
}
.btn:hover,
.btn:focus {
  border-color: #e24c07 !important;
  background-color: #7a3e23;
}
.numBtn {
  width: 100px;
}
.runeContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.rune {
  background-color: #492515;
  width: 250px;
  height: 450px;
  border-radius: 20px;
  color: #aaa;
}
.img {
  margin-top: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-image: url("../images/blankRune.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.img.rune01 {
  background-image: url("../images/Numbered/01.png")
}
.img.rune02 {
  background-image: url("../images/Numbered/02.png")
}
.img.rune03 {
  background-image: url("../images/Numbered/03.png")
}
.img.rune04 {
  background-image: url("../images/Numbered/04.png")
}
.img.rune05 {
  background-image: url("../images/Numbered/05.png")
}
.img.rune06 {
  background-image: url("../images/Numbered/06.png")
}
.img.rune07 {
  background-image: url("../images/Numbered/07.png")
}
.img.rune08 {
  background-image: url("../images/Numbered/08.png")
}
.img.rune09 {
  background-image: url("../images/Numbered/09.png")
}
.img.rune10 {
  background-image: url("../images/Numbered/10.png")
}
.img.rune11 {
  background-image: url("../images/Numbered/11.png")
}
.img.rune12 {
  background-image: url("../images/Numbered/12.png")
}
.img.rune13 {
  background-image: url("../images/Numbered/13.png")
}
.img.rune14 {
  background-image: url("../images/Numbered/14.png")
}
.img.rune15 {
  background-image: url("../images/Numbered/15.png")
}
.img.rune16 {
  background-image: url("../images/Numbered/16.png")
}
.img.rune17 {
  background-image: url("../images/Numbered/17.png")
}
.img.rune18 {
  background-image: url("../images/Numbered/18.png")
}
.img.rune19 {
  background-image: url("../images/Numbered/19.png")
}
.img.rune20 {
  background-image: url("../images/Numbered/20.png")
}
.img.rune21 {
  background-image: url("../images/Numbered/21.png")
}
.img.rune22 {
  background-image: url("../images/Numbered/22.png")
}
.img.rune23 {
  background-image: url("../images/Numbered/23.png")
}
.inverted {
  filter: invert(1)
}
.desc {
  height: 200px;
  width: 100%;
}
.gen {
  padding: 0.1rem 1rem
}
